html, body {
    min-height: 100vh;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

#__next {
    width: 100%;
    max-width: 770px;
    padding: 15px;
    margin: auto;
}

.grecaptcha-badge {
    visibility: hidden;
}

.grecaptcha-text {
    font-size: 0.7rem;
    color: rgb(130, 130, 130);
}

.question-progress {
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: rgb(65, 65, 65);
}

.box-radio {
    /* display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; */
    height: 100%;
    padding-left: 0 !important;
}

.box-control-label {
    height: 100%;
    width: 100% !important;
    text-align: center;
    padding: 1rem 1rem;
    position: static !important;
}

.box-radio .box-control-label::before {
    border-radius: 0 !important;
}

.box-control-label::before {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: -1 !important;
}

.box-control-input:checked~.box-control-label::before {
    border-color: #c82333;
    background-color: #dc3545;
}

.box-control-input:checked~.box-control-label {
    color: #fff;
}

.box-control-input:checked:disabled~.box-control-label {
    background-color: #dc3545;
}

.question-number {
    border-radius: 1rem;
    background-color: #c82333;
    color: #fff;
    width: 1rem;
    height: 1rem;
}

.result-badge {
    background-color: #dc3545;
    width: 100%;
    color: #fff;
    padding: 0.8rem 1rem;
}

.result-other {
    color: rgb(105, 105, 105);
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-bottom: solid rgb(155, 155, 155) 1px;
}

.result-label {
    min-width: 100%;
    height: 100%;
    padding: 1rem 0.5rem;
    font-size: 1rem;
}

.result-no-right-padding {
    padding-right: 0;
}

.answer-unselected {
    background-color: #fff;
}

.answer-selected {
    background-color: #c82333;
    color: #fff;
    font-weight: 700;
}

.home-title {
    padding-left: 1rem;
    border-left: 0.8rem solid #c82333;
}

.alert-calm {
    color: #383d41;
    background-color: #f3f3f5;
    border-color: #d6d8db;
}

.card-explanation a {
    color: #c82333;
}

@media all and (max-width: 1024px) {
    .question-mobile {
        font-size: 1.7rem;
        padding-bottom: 1rem;
    }

    .alert-calm {
        margin-top: 20px;
    }

    .card-explanation ul {
        padding-inline-start: 20px
    }
    
}